<!--konfigurasi google Oauth2.0 dari dokumetasi google terbaru, https://developers.google.com/identity/sign-in/web/sign-in-->
<script src="https://apis.google.com/js/platform.js" async defer></script>

</body>
</html>
